.mat-card {
    margin: 20px;
  }
  
  table {
    width: calc(100% - 40px);
    margin: 20px;
  }

  .mat-column-edit {
    width: 48px;
    max-width: 48px;
  
    text-align: center;
  }
  
  .mat-column-delete {
    width: 32px;
    max-width: 32px;
  
    text-align: right;
  }