<!-- <mat-card>
  <div>
    <mat-form-field>
      <mat-label>Benutzername</mat-label>
      <input
        matInput
        [(ngModel)]="newUser.username"
        [disabled]="saveInProgress"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input
        matInput
        [(ngModel)]="newUser.password"
        [disabled]="saveInProgress"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Rolle</mat-label>
      <mat-select [(ngModel)]="newUser.role">
        <mat-option [value]="roles.ADMIN">Admin</mat-option>
        <mat-option [value]="roles.STUDENT">Schüler</mat-option>
        <mat-option [value]="roles.TEACHER">Lehrer</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button
    mat-button
    [disabled]="!newUser.username || !newUser.password || saveInProgress"
    (click)="saveUser()"
  >
    Speichern
  </button>
</mat-card> -->
<!-- <div>{{ dataSource.length }}</div> -->
<table [dataSource]="dataSource" mat-table>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Rolle</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
